@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&display=swap');
*{
    background-color: #201D1D;
    
}
html, body{
    margin: 0; padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 20px;
    background-color: #201D1D;
}
canvas{
    text-shadow: 0 0 1vw orange, 0 0 7vw red;
}
#center_title{
    font-family: 'Bebas Neue', sans-serif;
}

#center_title ul{
    display: flex;
    justify-content: center;
}
#center_title ul li{
    list-style: none;
    margin-left: 0.5em;
    animation: light 2.6s linear infinite;
}
#center_title ul li:first-child{
    margin-left: 0%; 
}

#center_title ul li:nth-child(1){
    animation-delay: 0s;
}
#center_title ul li:nth-child(2){
    animation-delay: 0.2s;
}
#center_title ul li:nth-child(3){
    animation-delay: 0.4s;
}
#center_title ul li:nth-child(4){
    animation-delay: 0.6s;
}
#center_title ul li:nth-child(5){
    animation-delay: 0.8s;
}
#center_title ul li:nth-child(6){
    animation-delay: 1.0s;
}
#center_title ul li:nth-child(7){
    animation-delay: 1.2s;
}
#center_title ul li:nth-child(8){
    animation-delay: 1.4s;
}
#center_title ul li:nth-child(9){
    animation-delay: 1.6s;
}
#center_subtitle{
    max-width: fit-content;
    color:white;
    border-radius: 1rem;
    background:#313134;
    font-family: 'Barlow', sans-serif;
}
#about_me, #languages, #projects{
    font-family: 'Barlow', sans-serif;
    color:white;
}
#title{
    max-width: fit-content;
    border-bottom: 10px solid #313134
}
#pfp{
    border-radius: 50%;
}
#github{
    margin-top:100px;
    color:#fff;
    border-radius: 50%;
    max-width: fit-content;
    text-align: center;
    text-shadow: 0px 0px 30px darkorange;
    animation: social_icons 3s linear infinite;
}
#resume{
    color:white;
    background-color: #313134;
    max-width: fit-content;
    text-align: center;
    border-radius: 10px;
    border-color: transparent;
}
#language_icon{
    color:antiquewhite;
    text-shadow: 0px 0px 30px antiquewhite;
    animation: language_icons 3s linear infinite;
}
#socials_text{
    color:white;
    max-width: fit-content;
    float:left;
}
#socials_text:hover {
    text-shadow: 0px 0px 30px darkorange;
  }
.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.fade-in{
    opacity: 0;
    filter:blur(5px);
    transition: all 1s;
}
.fade-right{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(10%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
#socials_animation:nth-child(1){
    transition-delay: 200ms;
}
#socials_animation:nth-child(2){
    transition-delay: 400ms;
}
#socials_animation:nth-child(3){
    transition-delay: 600ms;
}
#socials_animation1:nth-child(1){
    transition-delay: 800ms;
}
#socials_animation1:nth-child(2){
    transition-delay: 1000ms;
}
#socials_animation1:nth-child(3){
    transition-delay: 1200ms;
}
/* #socials_animation:nth-child(4){
    transition-delay: 800ms;
}
#socials_animation:nth-child(5){
    transition-delay: 1000ms;
}
#socials_animation:nth-child(6){
    transition-delay: 1200ms;
} */
@keyframes language_icons{
    0%{
        text-shadow: 0px 0px 30px antiquewhite;
    }
    50%{
        text-shadow:0px 0px 30px gray;
    }
    100%{
        text-shadow: 0px 0px 30px antiquewhite;
    }
}
@keyframes social_icons{
    0%{
        text-shadow: 0px 0px 30px gold;
    }
    50%{
        text-shadow: 0px 0px 30px darkorange
    }
    100%{
        text-shadow: 0px 0px 30px gold;
    }
}
@keyframes fadein {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
@keyframes light{
    0%{
        color: white;
        text-shadow:none;
    }
    90%{
        color: white;
        text-shadow:none;
    }
    100%{
        color: yellow;
        text-shadow: 0 0 1vw orange, 0 0 7vw red;
    }
}
@media (min-width: 544px) {  
    p {font-size:1.0rem;} /*1rem = 16px*/
  }
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
p {font-size:1.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
p {font-size:1.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
p {font-size:1.5rem;} /*1rem = 16px*/    
}