@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&display=swap');
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
html, body, .container-fluid{
    background: #201D1D;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 20px;
    background-color: #201D1D;
}
.btn-primary{
    background-color: #313134 !important;
    border-color:gray !important;
}
.btn-primary:hover {
    color: black !important;
    background-color: #FFD36B !important;
  }
.row{
    margin-left:0 !important;
    margin-right:0 !important;
    background: #201D1D;
}
p{
    margin-bottom: 0 !important;
    font-family: 'Barlow', sans-serif;
    color:white;
    text-align: left;
}
strong{
    background-color: transparent !important;
}
header{
    background: rgba(153, 236, 239, 0.2);
    position:fixed;
    width:100%;
    padding: 0 2rem;
    z-index:100;
}
li{
    list-style:none;
}
.navbar{
    width:100%;
    height:60px;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar .links {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    display:flex;
    gap:2rem;
    color:white !important;
}
.navbar .links a:hover,
.dropdown_menu a:not(.action_btn):hover{
    color: #1cb4b9 !important;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor:pointer;
    display:none;
}
.action_btn{
    background-color:#1cb4b9;
    color: white;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}
.dropdown_menu{
    z-index: 100;
    position: absolute;
    right:2rem;
    height: 1px;
    top:80px;
    width:300px;
    background:rgba(255, 255, 255, 0.1) !important;
    -webkit-backdrop-filter:blur(5px) !important;
    backdrop-filter:blur(5px) !important;
    bottom: 1px;
    border-radius: 10px;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.action_btn{
    width:100%;
    display:flex;
    justify-content: center;
}
@media(max-width: 992px)
{
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn{
        display:block;
    }

    .dropdown_menu{
        display:block;
    }
}

@media (max-width:576px)
{
    .dropdown_menu{
        left: 2rem;
        width:unset;
    }
}
#header_bg{
    color:white;
    text-decoration: none;
    /* text-transform: uppercase; */
}

a{
    position: relative;
    /* background-color: transparent !important; */
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    text-align: center;
}
.rocket_img{
    width:100%;
    height:100%;
}
.scene{
    z-index: 0;
    position: relative;
    transform: translateY(-100px);
    width:150% !important;
    height:90vh;
    background: #201D1D;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene i{
    z-index: 1;
    margin-top:-20vh;
    position: absolute;
    top: -350px;
    animation: animateStars linear infinite 3s;
}

@keyframes animateStars{
    0%
    {
        transform:translateY(0);
    }
    100%
    {
        transform:translateY(250vh);
    }
}
.scene .rocket{
    position: relative;
    bottom:5%;
    animation: animateStart 2.5s ease-in-out, animateRocket 0.3s ease infinite 2.5s;
}
@keyframes animateStart{
    from{
        transform: translateY(300%);
    }
    to{
        transform:translateY(5%);
    }
}
@keyframes animateRocket
{
    0%, 100%
    {
        transform: translateY(3px);
    }
    50%
    {
        transform: translateY(-3px);
    }
}
.scene .rocket::before{
    content: '';
    position:absolute;
    bottom:-100px;
    left:50%;
    transform:translateX(-50%);
    width: 10px;
    height:100px;
    background: linear-gradient(#FFD36B, transparent);
}
.scene .rocket::after{
    content: '';
    position:absolute;
    bottom: -100px;
    left:50%;
    transform:translateX(-50%);
    width: 10px;
    height:100px;
    background: linear-gradient(#FFD36B, transparent);
    filter:blur(20px);
}
#center_title{
    z-index: 1;
    font-family: 'Bebas Neue', sans-serif;
}

#center_title ul{
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
}
#center_title ul li{
    list-style: none;
    margin-left: 0.5em;
    animation: light 2.6s linear infinite;
    background-color: transparent;
}
#center_title ul li:first-child{
    margin-left: 0%; 
}
#center_title ul li:nth-child(1){
    animation-delay: 0s;
}
#center_title ul li:nth-child(2){
    animation-delay: 0.2s;
}
#center_title ul li:nth-child(3){
    animation-delay: 0.4s;
}
#center_title ul li:nth-child(4){
    animation-delay: 0.6s;
}
#center_title ul li:nth-child(5){
    animation-delay: 0.8s;
}
#center_title ul li:nth-child(6){
    animation-delay: 1.0s;
}
#center_title ul li:nth-child(7){
    animation-delay: 1.2s;
}
#center_title ul li:nth-child(8){
    animation-delay: 1.4s;
}
#center_title ul li:nth-child(9){
    animation-delay: 1.6s;
}
#center_subtitle{
    z-index: 1;
    max-width: fit-content;
    color:white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background:#313134;
    font-family: 'Barlow', sans-serif;
    animation: centreSubtitle 1s ease-in-out forwards;
    animation-delay: 2.5s;
    opacity: 0;
}
@keyframes centreSubtitle{
    from {
        opacity: 0;
        left: -100px;
      }
      to {
        opacity: 1;
        left: 0;
      }
}
/* #about_me, #languages, #projects{
    font-family: 'Barlow', sans-serif;
    color:white;
    text-align: left;
} */
#title{
    font-family: 'Barlow', sans-serif;
    color:white;
    text-align: left;
    max-width: fit-content;
    border-bottom: 10px solid #343431
}
#pfp{
    border-radius: 50%;
}
#github{
    color:#fff;
    border-radius: 50%;
    max-width: fit-content;
    text-shadow: 0px 0px 30px darkorange;
    animation: social_icons 3s linear infinite;
}
#socials_text{
    color:#99ecef;
    text-decoration: none;
}
#socials_text::before,
.navbar .links a::before,
.dropdown_menu a:not(.action_btn)::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #17969a;
    top:1.5rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
#socials_text:hover::before,
.navbar .links a:hover::before,
.dropdown_menu a:not(.action_btn):hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#resume{
    color:white;
    background-color: #313134;
    max-width: fit-content;
    text-align: center;
    border-radius: 10px;
    border-color: transparent;
}
#language_icon{
    color:antiquewhite;
    text-shadow: 0px 0px 30px antiquewhite;
    animation: language_icons 3s linear infinite;
}
#language_text{
    color:#ff89d1;
}
#sql
{
    color:antiquewhite;
    text-shadow: 0px 0px 30px antiquewhite;
    animation: language_icons 3s linear infinite;
}
#hyperlink{
    color:#FFD36B;
}
.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.fade-in{
    opacity: 0;
    -webkit-backdrop-filter:blur(5px);
            backdrop-filter:blur(5px);
    transition: all 1.5s;
}
.fade-right{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(10%);
    transition: all 1s;
}
.fade-left{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
.row:nth-child(1) #socials_animation:nth-child(1){
    transition-delay: 200ms;
}
.row:nth-child(1) #socials_animation:nth-child(2){
    transition-delay: 400ms;
}
.row:nth-child(1) #socials_animation:nth-child(3){
    transition-delay: 600ms;
}
/* #socials_animation:nth-child(4){
    transition-delay: 800ms;
}
#socials_animation:nth-child(5){
    transition-delay: 1000ms;
}
#socials_animation:nth-child(6){
    transition-delay: 1200ms;
} */
@keyframes social_icons{
    0%{
        text-shadow: 0px 0px 30px #5CE1E6;
    }
    50%{
        text-shadow:0px 0px 30px #99ecef;
    }
    100%{
        text-shadow: 0px 0px 30px #5CE1E6
    }
}
@keyframes language_icons{
    0%{
        text-shadow: 0px 0px 30px #FF65C3;
    }
    50%{
        text-shadow: 0px 0px 30px #FF89D1;
    }
    100%{
        text-shadow: 0px 0px 30px #FF65C3;
    }
}
@keyframes fadein {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
@keyframes light{
    0%{
        color: white;
        text-shadow:none;
    }
    90%{
        color: white;
        text-shadow:none;
    }
    100%{
        color: yellow;
        text-shadow: 0 0 1vw orange, 0 0 7vw red;
    }
}
@media (min-width: 0px) {  
    p {font-size:0.8rem;}; /*1rem = 16px*/
    .btn {font-size:0.6rem !important;}
    .btn-primary {font-size:0.6rem !important;} /*1rem = 16px*/
    #socials_text{font-size:0.6rem;}
    #socials_text::before{top:1rem;}
    #sql{font-size:calc(1.625rem + 4.5vw); line-height:1.2;}
  }
@media (min-width: 544px) {  
    p {font-size:0.8rem;} /*1rem = 16px*/
    .btn {font-size:0.5rem !important;}
    .btn-primary {font-size:0.6rem !important;}
    #socials_text{font-size:0.6rem;}
    #socials_text::before{top:1rem;}
    #sql{font-size:calc(1.625rem + 4.5vw); line-height:1.2;}
  }
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    p {font-size:1.3rem;} /*1rem = 16px*/
    .btn {font-size:1.3rem !important;}
    .btn-primary {font-size:1.3rem !important;}
    #socials_text{font-size:1rem;}
    #socials_text::before{top:1.5rem;}
    #sql{font-size:calc(1.625rem + 4.5vw); line-height:1.2;}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
p {font-size:1.3rem;} /*1rem = 16px*/
#sql{font-size:calc(1.625rem + 4.5vw); line-height:1.2;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
p {font-size:1.3rem;} /*1rem = 16px*/    
#sql{font-size:5rem; line-height:1.2;}
}
  